<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  
  <body>
    <div class="student">
      <h3>Name: <%= @student.name %></h3><br>
      <h4>Grade: <%= @student.grade %></h4>
    </div><br>





  </body>
</html>